package ${package.Controller};
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiParam;
import org.springframework.web.bind.annotation.*;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;
import ${package.Service}.${table.serviceName};

@RestController
@RequestMapping("/${table.entityPath}")
public class ${table.controllerName} {

@Autowired
private ${table.serviceName} ${table.entityPath}Service;


/**
*
* @param id
* @param page 页数
* @param size 条数
* @return
*/

@ApiOperation(value = "自己填充", tags = {"自己填充", "自己填充"})
@RequestMapping(value = "/List", method = RequestMethod.GET)
public Result ${table.entityPath}List(
@RequestParam(name = "id", required = false) String id,
@RequestParam(required = true ,defaultValue = "1") int page,
@RequestParam( required = true) Integer size,defaultValue = "30") throws  Exception{
try {
return   Result.success(${table.entityPath}Service.find${entity}ByAll(null,page,size), ResultCode.成功.getCode());
} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}



@PreAuthorize("hasPermit('')")
@RequestMapping(value = "/id", method = RequestMethod.POST)
@ApiOperation(value = "详情", tags = {"详情", "自己填充"})
public Result  ${table.entityPath}Id(@RequestBody ${entity} ${table.entityPath})
throws  Exception{
try {
return   Result.success(${table.entityPath}Service.find${entity}Byid(${table.entityPath}.getId()), ResultCode.成功.getCode());
} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}


//    @PreAuthorize("hasPermit('')")
@RequestMapping(value = "/delete", method = RequestMethod.POST)
@ApiOperation(value = "删除", tags = {"删除", "自己填充"})
public Result delete${entity}Id(@RequestBody ${entity} ${table.entityPath})
throws  Exception{
try {
${table.entityPath}Service.delete${entity}Byid(${table.entityPath}.getId());
return Result.success(ResultCode.成功, ResultCode.成功.getCode());

} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}



//    @PreAuthorize("hasPermit('')")
@RequestMapping(value = "/update", method = RequestMethod.POST)
@ApiOperation(value = "更新", tags = {"更新/单个", "自己填充"})
public Result update${entity}Id(@RequestBody ${entity} ${table.entityPath})
throws  Exception{
try {
${table.entityPath}Service.update${entity}Byid(${table.entityPath});
return Result.success(ResultCode.成功, ResultCode.成功.getCode());
} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}


@RequestMapping(value = "/add", method = RequestMethod.POST)
@ApiOperation(value = "添加-单个", tags = {"添加-单个", "自己填充"})
public Result add${entity}Id(@RequestBody ${entity} ${table.entityPath})
throws  Exception{
try {
${table.entityPath}Service.add${entity}(${table.entityPath});
return Result.success(ResultCode.成功, ResultCode.成功.getCode());
} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}


@RequestMapping(value = "/addBatch", method = RequestMethod.POST)
@ApiOperation(value = "添加-多个", tags = {"添加-多个", "自己填充"})
public Result add${entity}Batch(@RequestBody List<${entity}> ${table.entityPath})
throws  Exception{
try {
${table.entityPath}Service.add${entity}Batch(${table.entityPath});
return Result.success(ResultCode.成功, ResultCode.成功.getCode());
} catch (Exception e) {
return   Result.error(ResultCode.失败.getMsg(),ResultCode.失败.getCode(),null);
}
}

}
