<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.rd.mapper.HxTasteSQLMapper">

    <resultMap type="HxTasteSQL" id="HxTasteResult">
        <result property="id" column="ID" jdbcType="BIGINT"/>
        <result property="fid" column="FID" jdbcType="CHAR"/>
        <result property="fbillno" column="FBillNo" jdbcType="CHAR"/>
        <result property="fstatus" column="FStatus" jdbcType="INTEGER"/>
        <result property="fshenqingren" column="FShenqingren" />
        <result property="fsqrid" column="FSqrID" />
        <result property="fyuanshenqingren" column="FYuanShenqingren" />
        <result property="fyuansqrid" column="FYuanSqrID" />
        <result property="fyewuxingming" column="FYewuxingming" />
        <result property="fyewubumen" column="FYewubumen" />
        <result property="fsqriqi" column="Fsqriqi" jdbcType="DATE"/>
        <result property="fkehumingcheng" column="Fkehumingcheng" />
        <result property="fkehudaima" column="Fkehudaima" />
        <result property="fyewudaima" column="Fyewudaima" />
        <result property="flaifangriqi" column="Flaifangriqi" jdbcType="DATE"/>
        <result property="fdijicisongyang" column="Fdijicisongyang" />
        <result property="fxiangmuxinxi" column="Fxiangmuxinxi" />
        <result property="fshangcishenqingdanhao" column="Fshangcishenqingdanhao" />
        <result property="fkegongyanju" column="Fkegongyanju" />
        <result property="fkouweishuliang" column="Fkouweishuliang" />
        <result property="fyangpinxuqiuriqi" column="Fyangpinxuqiuriqi" jdbcType="DATE"/>
        <result property="fyanjuleixing" column="Fyanjuleixing" />
        <result property="fpipeishichang" column="Fpipeishichang" />
        <result property="ftiandu" column="Ftiandu" />
        <result property="fliangdu" column="Fliangdu" />
        <result property="fnianchoudu" column="Fnianchoudu" />
        <result property="fkouweizhuangong" column="Fkouweizhuangong" />
        <result property="fxianchangshiyou" column="Fxianchangshiyou" />
        <result property="fyoujixinxi" column="Fyoujixinxi" />
        <result property="fzidaiyanju" column="Fzidaiyanju" />
        <result property="fhuishouyanju" column="Fhuishouyanju" />
        <result property="ffaresizhonglei" column="Ffaresizhonglei" />
        <result property="ffaresizuzhi" column="Ffaresizuzhi" />
        <result property="fyanyoucangrongliang" column="Fyanyoucangrongliang" />
        <result property="fdaoyoumianzhonglei" column="Fdaoyoumianzhonglei" />
        <result property="fnigudinghanliang" column="Fnigudinghanliang" />
        <result property="fyoubeicaizhi" column="Fyoubeicaizhi" />
        <result property="fqiwangwanchengshijian" column="Fqiwangwanchengshijian" />
        <result property="fyangpinxuqiushuliang" column="Fyangpinxuqiushuliang" />
        <result property="fyujiwanchengshijian" column="Fyujiwanchengshijian" />
        <result property="fvg" column="FVG" />
        <result property="fbeizhu" column="Fbeizhu" />
        <result property="ffenpeigenjinren" column="Ffenpeigenjinren" />
        <result property="fcurspbillno" column="FCurSpBillNo" />
        <result property="ftijiaotime" column="FTijiaoTime" />
        <result property="fshenhetime" column="FShenheTime" />
        <result property="ffenpeitime" column="FFenpeiTime" />
        <result property="flastmodifyby" column="FLastModifyBy" />
        <result property="flastmodifytime" column="FLastModifyTime" />
    </resultMap>

    <resultMap id="HxTasteHxTasteDetailResult" type="HxTasteSQL" extends="HxTasteResult">
        <collection property="hxTasteDetailList" notNullColumn="sub_FID" javaType="java.util.List" resultMap="HxTasteDetailResult" />
    </resultMap>

    <resultMap type="HxTasteSQLDetail" id="HxTasteDetailResult">
        <result property="fid" column="sub_FID" />
        <result property="fseq" column="sub_FSeq" jdbcType="BIGINT"/>
        <result property="fparentid" column="sub_FParentId" />
        <result property="fkouweimingcheng" column="sub_Fkouweimingcheng" />
        <result property="fkouweimiaoshu" column="sub_Fkouweimiaoshu" />
        <result property="fjichukouwei" column="sub_Fjichukouwei" />
        <result property="fjichukouweimingcheng" column="sub_Fjichukouweimingcheng" />
        <result property="fjichukouweigaishanyijian" column="sub_Fjichukouweigaishanyijian" />
        <result property="frongliang" column="sub_Frongliang" />
        <result property="fvg" column="sub_Fvg" />
        <result property="fniclb" column="sub_Fniclb" />
        <result property="fnicnd" column="sub_Fnicnd" />
        <result property="fnicdw" column="sub_Fnicdw" />
        <result property="ftiaoxiangshi" column="sub_Ftiaoxiangshi" />
        <result property="fbanben" column="sub_Fbanben" />
        <result property="fxuanzepeifangbanben" column="sub_Fxuanzepeifangbanben" />
        <result property="fxuanzepeifangbanbenid" column="sub_FxuanzepeifangbanbenID" />
        <result property="ffentiaoxiangshi" column="sub_Ffentiaoxiangshi" />
        <result property="ffentiaoxiangshiid" column="sub_FfentiaoxiangshiID" />
        <result property="fkwzhuangtai" column="sub_FKwZhuangtai" />
        <result property="fxgzhuangtai" column="sub_FXgZhuangtai" />
        <result property="fjdzhuangtai" column="sub_FJdZhuangtai" />
        <result property="fyujiwanchengshijian" column="sub_Fyujiwanchengshijian"/>
        <result property="fisdeleted" column="sub_FIsDeleted" jdbcType="INTEGER"/>
        <result property="ffenpeitiaoxiangshitime" column="sub_FfenpeitiaoxiangshiTime" />
        <result property="lastmodifyby" column="sub_LastModifyBy" />
    </resultMap>

    <sql id="selectHxTasteSQLVo">
        select id,fid,fbillno,
               fstatus,fshenqingren,fsqrid,
               fyuanshenqingren,fyuansqrid,fyewuxingming,
               fyewubumen,fsqriqi,fkehumingcheng,
               fkehudaima,fyewudaima,flaifangriqi,
               fdijicisongyang,fxiangmuxinxi,fshangcishenqingdanhao,
               fkegongyanju,fkouweishuliang,fyangpinxuqiuriqi,
               fyanjuleixing,fpipeishichang,ftiandu,
               fliangdu,fnianchoudu,fkouweizhuangong,
               fxianchangshiyou,fyoujixinxi,fzidaiyanju,
               fhuishouyanju,ffaresizhonglei,ffaresizuzhi,
               fyanyoucangrongliang,fdaoyoumianzhonglei,fnigudinghanliang,
               fyoubeicaizhi,fqiwangwanchengshijian,fyangpinxuqiushuliang,
               fyujiwanchengshijian,fvg,fbeizhu,
               ffenpeigenjinren,fcurspbillno,ftijiaotime,
               fshenhetime,ffenpeitime,flastmodifyby,
               flastmodifytime from t_sal_txsqd

    </sql>
        <!--where deleted = '0'-->

    <select id="selectHxTasteList" parameterType="HxTasteSQL" resultMap="HxTasteResult">
        <include refid="selectHxTasteSQLVo"/>
        <where>
            <!--    #             /*deleted = '0'*/-->
            <if test="id != null  and id != ''"> and ID = #{id}</if>
            <if test="fid != null  and fid != ''"> and FID = #{fid}</if>
            <if test="fyewubumen != null  and fyewubumen != ''"> and FYewubumen = #{fyewubumen}</if>
            <if test="fbillno != null  and fbillno != ''"> and FBillNo = #{fbillno}</if>
            <if test="fyewuxingming != null  and fyewuxingming != ''"> and FYewuxingming like concat('%', #{fyewuxingming}, '%')</if>
            <if test="fsqriqi != null  and fsqriqi != ''"> and FSqrID = #{fsqriqi}</if>
            <if test="fkehumingcheng != null  and fkehumingcheng != ''"> and Fkehumingcheng like concat('%', #{fkehumingcheng}, '%')</if>
            <if test="fkehudaima != null  and fkehudaima != ''"> and Fkehudaima = #{fkehudaima}</if>
            <if test="fstatus != null  and fstatus != ''"> and FStatus = #{fstatus}</if>
        </where>

    </select>



    <select id="selectHxTasteListDetail"  parameterType="HxTasteSQL" resultMap="HxTasteResult">
        select  a.fid,a.fbillno,a.fstatus,a.fshenqingren,a.fsqrid,a.fyuanshenqingren,a.fyuansqrid,a.fyewuxingming,a.fyewubumen,a.fsqriqi,a.fkehumingcheng,a.fkehudaima,a.fyewudaima,a.flaifangriqi,a.fdijicisongyang,a.fxiangmuxinxi,a.fshangcishenqingdanhao,a.fkegongyanju,a.fkouweishuliang,a.fyangpinxuqiuriqi,a.fyanjuleixing,a.fpipeishichang,a.ftiandu,a.fliangdu,a.fnianchoudu,a.fkouweizhuangong,a.fxianchangshiyou,a.fyoujixinxi,a.fzidaiyanju,a.fhuishouyanju,a.ffaresizhonglei,a.ffaresizuzhi,a.fyanyoucangrongliang,a.fdaoyoumianzhonglei,a.fnigudinghanliang,a.fyoubeicaizhi,a.fqiwangwanchengshijian,a.fyangpinxuqiushuliang,a.fyujiwanchengshijian,a.fvg,a.fbeizhu,a.ffenpeigenjinren,a.fcurspbillno,a.ftijiaotime,a.fshenhetime,a.ffenpeitime,a.flastmodifyby,a.flastmodifytime,
                b.fid as sub_fid  ,b.fseq as sub_fseq  ,b.fparentid as sub_fparentid,
                b.fkouweimingcheng as sub_fkouweimingcheng  ,b.fkouweimiaoshu as sub_fkouweimiaoshu  ,
                b.fjichukouwei as sub_fjichukouwei  ,b.fjichukouweimingcheng as sub_fjichukouweimingcheng  ,
                b.fjichukouweigaishanyijian as sub_fjichukouweigaishanyijian  ,b.frongliang as sub_frongliang  ,
                b.fvg as sub_fvg  ,b.fniclb as sub_fniclb  ,b.fnicnd as sub_fnicnd  ,b.fnicdw as sub_fnicdw  ,b.ftiaoxiangshi as sub_ftiaoxiangshi  ,b.fbanben as sub_fbanben  ,
                b.fxuanzepeifangbanben as sub_fxuanzepeifangbanben  ,b.fxuanzepeifangbanbenid as sub_fxuanzepeifangbanbenid  ,b.ffentiaoxiangshi as sub_ffentiaoxiangshi  ,
                b.ffentiaoxiangshiid as sub_ffentiaoxiangshiid  ,b.fkwzhuangtai as sub_fkwzhuangtai  ,
                b.fxgzhuangtai as sub_fxgzhuangtai  ,b.fjdzhuangtai as sub_fjdzhuangtai  ,b.fyujiwanchengshijian as sub_fyujiwanchengshijian  ,b.fisdeleted as sub_fisdeleted  ,
                b.ffenpeitiaoxiangshitime as sub_ffenpeitiaoxiangshitime  ,b.lastmodifyby as sub_lastmodifyby
        from t_sal_txsqd a
        left join t_sal_txsqdmx b on b.fparentid = a.fid

    </select>
<!--and a.deleted = '0'-->
    <select id="selectHxTasteByTasteId" parameterType="String" resultMap="HxTasteHxTasteDetailResult">
        select  a.fid,a.fbillno,a.fstatus,a.fshenqingren,a.fsqrid,a.fyuanshenqingren,a.fyuansqrid,a.fyewuxingming,a.fyewubumen,a.fsqriqi,a.fkehumingcheng,a.fkehudaima,a.fyewudaima,a.flaifangriqi,a.fdijicisongyang,a.fxiangmuxinxi,a.fshangcishenqingdanhao,a.fkegongyanju,a.fkouweishuliang,a.fyangpinxuqiuriqi,a.fyanjuleixing,a.fpipeishichang,a.ftiandu,a.fliangdu,a.fnianchoudu,a.fkouweizhuangong,a.fxianchangshiyou,a.fyoujixinxi,a.fzidaiyanju,a.fhuishouyanju,a.ffaresizhonglei,a.ffaresizuzhi,a.fyanyoucangrongliang,a.fdaoyoumianzhonglei,a.fnigudinghanliang,a.fyoubeicaizhi,a.fqiwangwanchengshijian,a.fyangpinxuqiushuliang,a.fyujiwanchengshijian,a.fvg,a.fbeizhu,a.ffenpeigenjinren,a.fcurspbillno,a.ftijiaotime,a.fshenhetime,a.ffenpeitime,a.flastmodifyby,a.flastmodifytime,
        b.fid as sub_fid,b.fseq as sub_fseq,b.fparentid as sub_fparentid,
        b.fkouweimingcheng as sub_fkouweimingcheng,b.fkouweimiaoshu as sub_fkouweimiaoshu,
        b.fjichukouwei as sub_fjichukouwei,b.fjichukouweimingcheng as sub_fjichukouweimingcheng,
        b.fjichukouweigaishanyijian as sub_fjichukouweigaishanyijian,b.frongliang as sub_frongliang,
        b.fvg as sub_fvg,b.fniclb as sub_fniclb,b.fnicnd as sub_fnicnd,b.fnicdw as sub_fnicdw,b.ftiaoxiangshi as sub_ftiaoxiangshi,b.fbanben as sub_fbanben,
        b.fxuanzepeifangbanben as sub_fxuanzepeifangbanben,b.fxuanzepeifangbanbenid as sub_fxuanzepeifangbanbenid,b.ffentiaoxiangshi as sub_ffentiaoxiangshi,
        b.ffentiaoxiangshiid as sub_ffentiaoxiangshiid,b.fkwzhuangtai as sub_fkwzhuangtai,
        b.fxgzhuangtai as sub_fxgzhuangtai,b.fjdzhuangtai as sub_fjdzhuangtai,b.fyujiwanchengshijian as sub_fyujiwanchengshijian,b.fisdeleted as sub_fisdeleted,
        b.ffenpeitiaoxiangshitime as sub_ffenpeitiaoxiangshitime,b.lastmodifyby as sub_lastmodifyby
        from t_sal_txsqd a
        left join t_sal_txsqdmx b
        on b.fparentid = a.fid
        where a.fid = #{fid}


    </select>

    <insert id="insertHxTaste"  parameterType="HxTasteSQL">
        insert into t_sal_txsqd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="fid != null">fid,</if>
            <if test="fbillno != null">fbillno,</if>
            <if test="fstatus != null">fstatus,</if>
            <if test="fshenqingren != null">fshenqingren,</if>
            <if test="fsqrid != null">fsqrid,</if>
            <if test="fyuanshenqingren != null">fyuanshenqingren,</if>
            <if test="fyuansqrid != null">fyuansqrid,</if>
            <if test="fyewuxingming != null">fyewuxingming,</if>
            <if test="fyewubumen != null">fyewubumen,</if>
            <if test="fsqriqi != null">fsqriqi,</if>
            <if test="fkehumingcheng != null">fkehumingcheng,</if>
            <if test="fkehudaima != null">fkehudaima,</if>
            <if test="fyewudaima != null">fyewudaima,</if>
            <if test="flaifangriqi != null">flaifangriqi,</if>
            <if test="fdijicisongyang != null">fdijicisongyang,</if>
            <if test="fxiangmuxinxi != null">fxiangmuxinxi,</if>
            <if test="fshangcishenqingdanhao != null">fshangcishenqingdanhao,</if>
            <if test="fkegongyanju != null">fkegongyanju,</if>
            <if test="fkouweishuliang != null">fkouweishuliang,</if>
            <if test="fyangpinxuqiuriqi != null">fyangpinxuqiuriqi,</if>
            <if test="fyanjuleixing != null">fyanjuleixing,</if>
            <if test="fpipeishichang != null">fpipeishichang,</if>
            <if test="ftiandu != null">ftiandu,</if>
            <if test="fliangdu != null">fliangdu,</if>
            <if test="fnianchoudu != null">fnianchoudu,</if>
            <if test="fkouweizhuangong != null">fkouweizhuangong,</if>
            <if test="fxianchangshiyou != null">fxianchangshiyou,</if>
            <if test="fyoujixinxi != null">fyoujixinxi,</if>
            <if test="fzidaiyanju != null">fzidaiyanju,</if>
            <if test="fhuishouyanju != null">fhuishouyanju,</if>
            <if test="ffaresizhonglei != null">ffaresizhonglei,</if>
            <if test="ffaresizuzhi != null">ffaresizuzhi,</if>
            <if test="fyanyoucangrongliang != null">fyanyoucangrongliang,</if>
            <if test="fdaoyoumianzhonglei != null">fdaoyoumianzhonglei,</if>
            <if test="fnigudinghanliang != null">fnigudinghanliang,</if>
            <if test="fyoubeicaizhi != null">fyoubeicaizhi,</if>
            <if test="fqiwangwanchengshijian != null">fqiwangwanchengshijian,</if>
            <if test="fyangpinxuqiushuliang != null">fyangpinxuqiushuliang,</if>
            <if test="fyujiwanchengshijian != null">fyujiwanchengshijian,</if>
            <if test="fvg != null">fvg,</if>
            <if test="fbeizhu != null">fbeizhu,</if>
            <if test="ffenpeigenjinren != null">ffenpeigenjinren,</if>
            <if test="fcurspbillno != null">fcurspbillno,</if>
            <if test="ftijiaotime != null">ftijiaotime,</if>
            <if test="fshenhetime != null">fshenhetime,</if>
            <if test="ffenpeitime != null">ffenpeitime,</if>
            <if test="flastmodifyby != null">flastmodifyby,</if>
            <if test="flastmodifytime != null">flastmodifytime</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="fid != null">#{fid},</if>
            <if test="fbillno != null">#{fbillno},</if>
            <if test="fstatus != null">#{fstatus},</if>
            <if test="fshenqingren != null">#{fshenqingren},</if>
            <if test="fsqrid != null">#{fsqrid},</if>
            <if test="fyuanshenqingren != null">#{fyuanshenqingren},</if>
            <if test="fyuansqrid != null">#{fyuansqrid},</if>
            <if test="fyewuxingming != null">#{fyewuxingming},</if>
            <if test="fyewubumen != null">#{fyewubumen},</if>
            <if test="fsqriqi != null">#{fsqriqi,jdbcType=DATE},</if>
            <if test="fkehumingcheng != null">#{fkehumingcheng},</if>
            <if test="fkehudaima != null">#{fkehudaima},</if>
            <if test="fyewudaima != null">#{fyewudaima},</if>
            <if test="flaifangriqi != null">#{flaifangriqi,jdbcType=DATE},</if>
            <if test="fdijicisongyang != null">#{fdijicisongyang},</if>
            <if test="fxiangmuxinxi != null">#{fxiangmuxinxi},</if>
            <if test="fshangcishenqingdanhao != null">#{fshangcishenqingdanhao},</if>
            <if test="fkegongyanju != null">#{fkegongyanju},</if>
            <if test="fkouweishuliang != null">#{fkouweishuliang},</if>
            <if test="fyangpinxuqiuriqi != null">#{fyangpinxuqiuriqi},</if>
            <if test="fyanjuleixing != null">#{fyanjuleixing},</if>
            <if test="fpipeishichang != null">#{fpipeishichang},</if>
            <if test="ftiandu != null">#{ftiandu},</if>
            <if test="fliangdu != null">#{fliangdu},</if>
            <if test="fnianchoudu != null">#{fnianchoudu},</if>
            <if test="fkouweizhuangong != null">#{fkouweizhuangong},</if>
            <if test="fxianchangshiyou != null">#{fxianchangshiyou},</if>
            <if test="fyoujixinxi != null">#{fyoujixinxi},</if>
            <if test="fzidaiyanju != null">#{fzidaiyanju},</if>
            <if test="fhuishouyanju != null">#{fhuishouyanju},</if>
            <if test="ffaresizhonglei != null">#{ffaresizhonglei},</if>
            <if test="ffaresizuzhi != null">#{ffaresizuzhi},</if>
            <if test="fyanyoucangrongliang != null">#{fyanyoucangrongliang},</if>
            <if test="fdaoyoumianzhonglei != null">#{fdaoyoumianzhonglei},</if>
            <if test="fnigudinghanliang != null">#{fnigudinghanliang},</if>
            <if test="fyoubeicaizhi != null">#{fyoubeicaizhi},</if>
            <if test="fqiwangwanchengshijian != null">#{fqiwangwanchengshijian},</if>
            <if test="fyangpinxuqiushuliang != null">#{fyangpinxuqiushuliang},</if>
            <if test="fyujiwanchengshijian != null">#{fyujiwanchengshijian},</if>
            <if test="fvg != null">#{fvg},</if>
            <if test="fbeizhu != null">#{fbeizhu},</if>
            <if test="ffenpeigenjinren != null">#{ffenpeigenjinren},</if>
            <if test="fcurspbillno != null">#{fcurspbillno},</if>
            <if test="ftijiaotime != null">#{ftijiaotime},</if>
            <if test="fshenhetime != null">#{fshenhetime},</if>
            <if test="ffenpeitime != null">#{ffenpeitime},</if>
            <if test="flastmodifyby != null">#{flastmodifyby},</if>
            <if test="flastmodifytime != null">#{flastmodifytime}</if>
        </trim>
    </insert>

    <update id="updateHxTaste"  parameterType="HxTasteSQL">
        update t_sal_txsqd
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="fid != null and fid != ''">
                fid = #{fid},
            </if>
            <if test="fbillno != null and fbillno != ''">
                fbillno = #{fbillno},
            </if>
            <if test="fstatus != null">
                fstatus = #{fstatus},
            </if>
            <if test="fshenqingren != null and fshenqingren != ''">
                fshenqingren = #{fshenqingren},
            </if>
            <if test="fsqrid != null and fsqrid != ''">
                fsqrid = #{fsqrid},
            </if>
            <if test="fyuanshenqingren != null and fyuanshenqingren != ''">
                fyuanshenqingren = #{fyuanshenqingren},
            </if>
            <if test="fyuansqrid != null and fyuansqrid != ''">
                fyuansqrid = #{fyuansqrid},
            </if>
            <if test="fyewuxingming != null and fyewuxingming != ''">
                fyewuxingming = #{fyewuxingming},
            </if>
            <if test="fyewubumen != null and fyewubumen != ''">
                fyewubumen = #{fyewubumen},
            </if>
            <if test="fsqriqi != null">
                fsqriqi = #{fsqriqi},
            </if>
            <if test="fkehumingcheng != null and fkehumingcheng != ''">
                fkehumingcheng = #{fkehumingcheng},
            </if>
            <if test="fkehudaima != null and fkehudaima != ''">
                fkehudaima = #{fkehudaima},
            </if>
            <if test="fyewudaima != null and fyewudaima != ''">
                fyewudaima = #{fyewudaima},
            </if>
            <if test="flaifangriqi != null">
                flaifangriqi = #{flaifangriqi},
            </if>
            <if test="fdijicisongyang != null and fdijicisongyang != ''">
                fdijicisongyang = #{fdijicisongyang},
            </if>
            <if test="fxiangmuxinxi != null and fxiangmuxinxi != ''">
                fxiangmuxinxi = #{fxiangmuxinxi},
            </if>
            <if test="fshangcishenqingdanhao != null and fshangcishenqingdanhao != ''">
                fshangcishenqingdanhao = #{fshangcishenqingdanhao},
            </if>
            <if test="fkegongyanju != null and fkegongyanju != ''">
                fkegongyanju = #{fkegongyanju},
            </if>
            <if test="fkouweishuliang != null and fkouweishuliang != ''">
                fkouweishuliang = #{fkouweishuliang},
            </if>
            <if test="fyangpinxuqiuriqi != null">
                fyangpinxuqiuriqi = #{fyangpinxuqiuriqi},
            </if>
            <if test="fyanjuleixing != null and fyanjuleixing != ''">
                fyanjuleixing = #{fyanjuleixing},
            </if>
            <if test="fpipeishichang != null and fpipeishichang != ''">
                fpipeishichang = #{fpipeishichang},
            </if>
            <if test="ftiandu != null and ftiandu != ''">
                ftiandu = #{ftiandu},
            </if>
            <if test="fliangdu != null and fliangdu != ''">
                fliangdu = #{fliangdu},
            </if>
            <if test="fnianchoudu != null and fnianchoudu != ''">
                fnianchoudu = #{fnianchoudu},
            </if>
            <if test="fkouweizhuangong != null and fkouweizhuangong != ''">
                fkouweizhuangong = #{fkouweizhuangong},
            </if>
            <if test="fxianchangshiyou != null and fxianchangshiyou != ''">
                fxianchangshiyou = #{fxianchangshiyou},
            </if>
            <if test="fyoujixinxi != null and fyoujixinxi != ''">
                fyoujixinxi = #{fyoujixinxi},
            </if>
            <if test="fzidaiyanju != null and fzidaiyanju != ''">
                fzidaiyanju = #{fzidaiyanju},
            </if>
            <if test="fhuishouyanju != null and fhuishouyanju != ''">
                fhuishouyanju = #{fhuishouyanju},
            </if>
            <if test="ffaresizhonglei != null and ffaresizhonglei != ''">
                ffaresizhonglei = #{ffaresizhonglei},
            </if>
            <if test="ffaresizuzhi != null and ffaresizuzhi != ''">
                ffaresizuzhi = #{ffaresizuzhi},
            </if>
            <if test="fyanyoucangrongliang != null and fyanyoucangrongliang != ''">
                fyanyoucangrongliang = #{fyanyoucangrongliang},
            </if>
            <if test="fdaoyoumianzhonglei != null and fdaoyoumianzhonglei != ''">
                fdaoyoumianzhonglei = #{fdaoyoumianzhonglei},
            </if>
            <if test="fnigudinghanliang != null and fnigudinghanliang != ''">
                fnigudinghanliang = #{fnigudinghanliang},
            </if>
            <if test="fyoubeicaizhi != null and fyoubeicaizhi != ''">
                fyoubeicaizhi = #{fyoubeicaizhi},
            </if>
            <if test="fqiwangwanchengshijian != null">
                fqiwangwanchengshijian = #{fqiwangwanchengshijian},
            </if>
            <if test="fyangpinxuqiushuliang != null and fyangpinxuqiushuliang != ''">
                fyangpinxuqiushuliang = #{fyangpinxuqiushuliang},
            </if>
            <if test="fyujiwanchengshijian != null">
                fyujiwanchengshijian = #{fyujiwanchengshijian},
            </if>
            <if test="fvg != null and fvg != ''">
                fvg = #{fvg},
            </if>
            <if test="fbeizhu != null and fbeizhu != ''">
                fbeizhu = #{fbeizhu},
            </if>
            <if test="ffenpeigenjinren != null and ffenpeigenjinren != ''">
                ffenpeigenjinren = #{ffenpeigenjinren},
            </if>
            <if test="fcurspbillno != null and fcurspbillno != ''">
                fcurspbillno = #{fcurspbillno},
            </if>
            <if test="ftijiaotime != null">
                ftijiaotime = #{ftijiaotime},
            </if>
            <if test="fshenhetime != null">
                fshenhetime = #{fshenhetime},
            </if>
            <if test="ffenpeitime != null">
                ffenpeitime = #{ffenpeitime},
            </if>
            <if test="flastmodifyby != null and flastmodifyby != ''">
                flastmodifyby = #{flastmodifyby},
            </if>
            <if test="flastmodifytime != null">
                flastmodifytime = #{flastmodifytime},
            </if>
        </set>
        where fid = #{fid}
    </update>
    <!--真实删除-->
    <delete id="deleteHxTasteByTasteId" parameterType="String">
        delete from t_sal_txsqd where fid = #{fid}
    </delete>

    <delete id="deleteHxTasteByTasteIds" parameterType="String">
        delete from t_sal_txsqd where fid in
        <foreach item="tasteid" collection="array" open="(" separator="," close=")">
            #{fid}
        </foreach>
    </delete>
    <!--逻辑删除-->
   <!-- <delete id="deleteHxTasteByTasteId" parameterType="String">
        update hx_taste  set deleted = '2'   where taste_id = #{tasteId}
    </delete>

    <delete id="deleteHxTasteByTasteIds" parameterType="String">
        update hx_taste set deleted = '2'  where taste_id in
        <foreach item="tasteId" collection="array" open="(" separator="," close=")">
            #{tasteId}
        </foreach>
    </delete>-->
    <!--子表-->
    <delete id="deleteHxTasteDetailByTasteIds" parameterType="String">
        delete from t_sal_txsqdmx where fparentid in
        <foreach item="tasteid" collection="array" open="(" separator="," close=")">
            #{fid}
        </foreach>
    </delete>

    <delete id="deleteHxTasteDetailByTasteId" parameterType="String">
        delete from t_sal_txsqdmx where fparentid = #{fid}
    </delete>

    <insert id="batchHxTasteDetail">
        <!--允许将显式值插入表的标识列中 ON-允许  OFF-不允许-->
<!--        set identity_insert hx_taste_detail ON;-->
        insert into t_sal_txsqdmx( fid, fseq,fparentid,
            fkouweimingcheng,fkouweimiaoshu,fjichukouwei,
            fjichukouweimingcheng,fjichukouweigaishanyijian,frongliang,
            fvg,fniclb,fnicnd,
            fnicdw,ftiaoxiangshi,fbanben,
            fxuanzepeifangbanben,fxuanzepeifangbanbenid,ffentiaoxiangshi,
            ffentiaoxiangshiid,fkwzhuangtai,fxgzhuangtai,
            fjdzhuangtai,fyujiwanchengshijian,fisdeleted,
            ffenpeitiaoxiangshitime,lastmodifyby) values
        <foreach item="item" index="index" collection="list" separator=",">
            (  #{item.fid},#{item.fseq}, #{item.fparentid}, #{item.fkouweimingcheng}, #{item.fkouweimiaoshu}, #{item.fjichukouwei},
            #{item.fjichukouweimingcheng}, #{item.fjichukouweigaishanyijian}, #{item.frongliang}, #{item.fvg}, #{item.fniclb},
            #{item.fnicnd}, #{item.fnicdw},
            #{item.ftiaoxiangshi}, #{item.fbanben},#{item.fxuanzepeifangbanben},#{item.fxuanzepeifangbanbenid},#{item.ffentiaoxiangshi},
            #{item.ffentiaoxiangshiid}, #{item.fkwzhuangtai},#{item.fxgzhuangtai},#{item.fjdzhuangtai},#{item.fyujiwanchengshijian},
            #{item.fisdeleted}, #{item.ffenpeitiaoxiangshitime},#{item.lastmodifyby})
        </foreach>
<!--        set identity_insert hx_taste_detail OFF;-->
    </insert>
</mapper>
