<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.rd.mapper.TSalTxsqdMapper">

    <resultMap id="BaseResultMap" type="com.hx.rd.domain.TSalTxsqd">
            <result property="id" column="ID" jdbcType="BIGINT"/>
            <result property="fid" column="FID" jdbcType="CHAR"/>
            <result property="fbillno" column="FBillNo" jdbcType="CHAR"/>
            <result property="fstatus" column="FStatus" jdbcType="INTEGER"/>
            <result property="fshenqingren" column="FShenqingren" jdbcType="VARCHAR"/>
            <result property="fsqrid" column="FSqrID" jdbcType="VARCHAR"/>
            <result property="fyuanshenqingren" column="FYuanShenqingren" jdbcType="VARCHAR"/>
            <result property="fyuansqrid" column="FYuanSqrID" jdbcType="VARCHAR"/>
            <result property="fyewuxingming" column="FYewuxingming" jdbcType="VARCHAR"/>
            <result property="fyewubumen" column="FYewubumen" jdbcType="VARCHAR"/>
            <result property="fsqriqi" column="Fsqriqi" jdbcType="DATE"/>
            <result property="fkehumingcheng" column="Fkehumingcheng" jdbcType="VARCHAR"/>
            <result property="fkehudaima" column="Fkehudaima" jdbcType="VARCHAR"/>
            <result property="fyewudaima" column="Fyewudaima" jdbcType="VARCHAR"/>
            <result property="flaifangriqi" column="Flaifangriqi" jdbcType="DATE"/>
            <result property="fdijicisongyang" column="Fdijicisongyang" jdbcType="VARCHAR"/>
            <result property="fxiangmuxinxi" column="Fxiangmuxinxi" jdbcType="VARCHAR"/>
            <result property="fshangcishenqingdanhao" column="Fshangcishenqingdanhao" jdbcType="VARCHAR"/>
            <result property="fkegongyanju" column="Fkegongyanju" jdbcType="VARCHAR"/>
            <result property="fkouweishuliang" column="Fkouweishuliang" jdbcType="VARCHAR"/>
            <result property="fyangpinxuqiuriqi" column="Fyangpinxuqiuriqi" jdbcType="DATE"/>
            <result property="fyanjuleixing" column="Fyanjuleixing" jdbcType="VARCHAR"/>
            <result property="fpipeishichang" column="Fpipeishichang" jdbcType="VARCHAR"/>
            <result property="ftiandu" column="Ftiandu" jdbcType="VARCHAR"/>
            <result property="fliangdu" column="Fliangdu" jdbcType="VARCHAR"/>
            <result property="fnianchoudu" column="Fnianchoudu" jdbcType="VARCHAR"/>
            <result property="fkouweizhuangong" column="Fkouweizhuangong" jdbcType="VARCHAR"/>
            <result property="fxianchangshiyou" column="Fxianchangshiyou" jdbcType="VARCHAR"/>
            <result property="fyoujixinxi" column="Fyoujixinxi" jdbcType="VARCHAR"/>
            <result property="fzidaiyanju" column="Fzidaiyanju" jdbcType="VARCHAR"/>
            <result property="fhuishouyanju" column="Fhuishouyanju" jdbcType="VARCHAR"/>
            <result property="ffaresizhonglei" column="Ffaresizhonglei" jdbcType="VARCHAR"/>
            <result property="ffaresizuzhi" column="Ffaresizuzhi" jdbcType="VARCHAR"/>
            <result property="fyanyoucangrongliang" column="Fyanyoucangrongliang" jdbcType="VARCHAR"/>
            <result property="fdaoyoumianzhonglei" column="Fdaoyoumianzhonglei" jdbcType="VARCHAR"/>
            <result property="fnigudinghanliang" column="Fnigudinghanliang" jdbcType="VARCHAR"/>
            <result property="fyoubeicaizhi" column="Fyoubeicaizhi" jdbcType="VARCHAR"/>
            <result property="fqiwangwanchengshijian" column="Fqiwangwanchengshijian" jdbcType="TIMESTAMP"/>
            <result property="fyangpinxuqiushuliang" column="Fyangpinxuqiushuliang" jdbcType="VARCHAR"/>
            <result property="fyujiwanchengshijian" column="Fyujiwanchengshijian" jdbcType="TIMESTAMP"/>
            <result property="fvg" column="FVG" jdbcType="VARCHAR"/>
            <result property="fbeizhu" column="Fbeizhu" jdbcType="VARCHAR"/>
            <result property="ffenpeigenjinren" column="Ffenpeigenjinren" jdbcType="VARCHAR"/>
            <result property="fcurspbillno" column="FCurSpBillNo" jdbcType="VARCHAR"/>
            <result property="ftijiaotime" column="FTijiaoTime" jdbcType="TIMESTAMP"/>
            <result property="fshenhetime" column="FShenheTime" jdbcType="TIMESTAMP"/>
            <result property="ffenpeitime" column="FFenpeiTime" jdbcType="TIMESTAMP"/>
            <result property="flastmodifyby" column="FLastModifyBy" jdbcType="VARCHAR"/>
            <result property="flastmodifytime" column="FLastModifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,FID,FBillNo,
        FStatus,FShenqingren,FSqrID,
        FYuanShenqingren,FYuanSqrID,FYewuxingming,
        FYewubumen,Fsqriqi,Fkehumingcheng,
        Fkehudaima,Fyewudaima,Flaifangriqi,
        Fdijicisongyang,Fxiangmuxinxi,Fshangcishenqingdanhao,
        Fkegongyanju,Fkouweishuliang,Fyangpinxuqiuriqi,
        Fyanjuleixing,Fpipeishichang,Ftiandu,
        Fliangdu,Fnianchoudu,Fkouweizhuangong,
        Fxianchangshiyou,Fyoujixinxi,Fzidaiyanju,
        Fhuishouyanju,Ffaresizhonglei,Ffaresizuzhi,
        Fyanyoucangrongliang,Fdaoyoumianzhonglei,Fnigudinghanliang,
        Fyoubeicaizhi,Fqiwangwanchengshijian,Fyangpinxuqiushuliang,
        Fyujiwanchengshijian,FVG,Fbeizhu,
        Ffenpeigenjinren,FCurSpBillNo,FTijiaoTime,
        FShenheTime,FFenpeiTime,FLastModifyBy,
        FLastModifyTime
    </sql>
</mapper>
